p{color: black;font-weight: bold 20px;font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;}
h1{color: maroon;font-weight: bolder;font-size: larger;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.Icon{width: 278px;height:335px  ;background-image: url(Adsız.png);margin: 10px 0 0 100px;border-style: solid;}
.post-place{width: 800px;height: 300px ;margin: 20px auto;background-color: honeydew;border-style: solid}
.hersey{width: 1100px;height: 900px;margin: auto;background-color: rgb(136, 96, 44);border-style: solid} 
.social{width: 128px;height: 128px;margin:10px 0 0 170px;background-image:url(twitter-logo-2012-new.png) ;background-repeat: no-repeat;border-style: solid}
.Icon-and-social{width: 500px;height: 500px;margin :auto;background-color: burlywood;border-style: solid} 
.paragraf-bası{ text-indent: 40px;padding: 40px 40px;}
.Ahmet-Fatih-Unal{padding: 0px 40px;}
 